@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Napack.Server.DocumentationModel>
@model Napack.Server.DocumentationModel

@{
    Layout = "RootLayout.cshtml";
    string pageName = "Documentation";
}

@section Title {@pageName -- @Model.Name}

<div id="body">
    <h1>@pageName -- <i>@Model.Name</i></h1>
    @Html.Raw(@Model.Html).
</div>

@section Scripts{
    <script type="text/javascript">
        // Run the scripts.
        $(document).ready(function () {
        });
    </script>
}