@{
    Layout = "RootLayout.cshtml";
    string pageName = "Graph View";
}

@section Title {@pageName}

<div id="body">
    <h2>Graph View</h2>
    <p>TODO render the overall graph view here.</p>
</div>
    