@{
    Layout = "RootLayout.cshtml";
    string pageName = "Napack Framework Server";
}

@section Title {@pageName}

<div id="body">
    <h2>Napack Framework Server</h2>
    <div class="content-wrapper">
        <article>
            This <b>@pageName</b> hosts C# nano-scale packages ('Napacks') for componentized software construction.
            <br />

        </article>
        <aside class="aside960px">
            Source Code: <a href="https://github.com/GuMiner/napack">Source Code</a>
            <br />
            Contact: <a href="mailto:gus.gran@gmail.com">NFS Administrator</a>
        </aside>
    </div>
</div>
    