@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Napack.Server.IndexModel>
@model Napack.Server.IndexModel

@{
    Layout = "RootLayout.cshtml";
    string pageName = "Napack Framework Server";
}

@section Title {@pageName}

<div id="body">
    <div class="titleFlag" style="width: 330px;"></div>
    <h2 class="titleFlagCompensation">@pageName</h2>
    <div class="multiColumnView">
        <smallColumn>
            <img src="~/Content/favicon.ico" alt="Logo Image">
        </smallColumn>
        <largeColumn>
            This site hosts C# nano-scale packages &mdash; called <b>Napacks</b> &mdash; for componentized software construction.
        </largeColumn>
        <smallColumn>
            Source Code: <a href="https://github.com/GuMiner/napack">Source Code</a>
            <br />
            Contact: <a href="mailto:@Model.AdministratorEmail">NFS Administrator</a>
        </smallColumn>
    </div>
</div>
    