@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Napack.Server.IndexModel>
@model Napack.Server.IndexModel

@{
    Layout = "RootLayout.cshtml";
    string pageName = "Napack Framework Server";
}

@section Title {@pageName}

<div id="body">
    <h2>Napack Framework Server</h2>
    <div class="content-wrapper">
        <article>
            This <b>@pageName</b> hosts C# nano-scale packages ('Napacks') for componentized software construction.
            <br />
            For more information, see the <a href="https://napack.net/Documentation/Readme.md">documentation</a>.
        </article>
        <aside class="aside960px">
            Source Code: <a href="https://github.com/GuMiner/napack">Source Code</a>
            <br />
            Contact: <a href="mailto:@Model.AdministratorEmail">NFS Administrator</a>
        </aside>
    </div>
</div>
    