@{
    Layout = "RootLayout.cshtml";
    string pageName = "Search";
}

@section Title {@pageName}

<div id="body">
    <h1>@pageName</h1>
</div>

@section Scripts{
    <script type="text/javascript">
        // Run the scripts.
        $(document).ready(function () {
        });
    </script>
}