@{
    Layout = "RootLayout.cshtml";
    string pageName = "System Status";
}

@section Title {@pageName}

<div id="body">
    <h2>System Status</h2>
    <p>TODO render the overall system status.</p>
</div>
    