/* Overall color palette: */
/* Background: 2A4D6E */
/* Light: FDFEFF */
/* Medium Light: 728CA6 */
/* Medium Dark: 041E37 */
/* Dark: 000000 */
/* Complementary background: AA7C39 */
/* C-Light: FFFEFD */
/* C-Medium Light: FFDCA9 */
/* C-Medium Dark: 553200 */
/* C-Dark: 000000 */

/* Background to all the pages. */
body {
    color: #041E37;
    background-color: #2A4D6E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 0px 0px;
}

/* Background to the main text area. */
#body {
    background-color: #FDFEFF;
    clear: both;
    padding: 0px 5px 0px 5px;
}

/* Almost everything is centered on small screens. */
@media only screen and (max-width: 600px) {
    #body {
        text-align: center;
    }
}

/* Upper menu with major commands */
/* These links are larger and colored differently. */
.mainMenu {
    float: right;
}

ul#mainMenuList {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

ul#mainMenuList li {
    display: inline;
    list-style: none;
    padding: 0px 8px 0px 8px;
}

ul#mainMenuList li a {
    color: #FDFEFF;
    white-space: nowrap;
}

ul#mainMenuList li a:hover {
    color: #728CA6;
    background-color: #041E37;
    text-decoration: none;
}

/* Footer general style and link style.*/
footer {
    color: #FDFEFF;
    background-color: #728CA6;
    font-size: 0.90em;
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

footer a {
    color: #553200;
}

footer a:hover {
    color: #FFDCA9;
}

/* Appropriate link styling that works with the mostly-white page. */
a {
    color: #728CA6;
    padding: 0px 2px 0px 2px;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

/* Standard page headers with an underlying flag. */
h2 {
    font-size: 1.75em;
    font-weight: 400;
    margin: 12px 4px 2px 2px;
}

.titleFlag {
    height: 40px;
	border-top: 40px solid #553200;
	border-right: 40px solid transparent;
}

.titleFlagCompensation
{
    margin: -80px 4px 2px 2px;
    color: #FFDCA9;
    text-align: left;
}

.titleFlagCompensationSecondStyle
{
    margin: -80px 4px 2px 2px;
    color: #FDFEFF;
    text-align: left;
}

/* Smaller standard page headers. */
h3 {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0px 2px 2px 2px;
}

/* Allow for the display of multiple items in a column. */
.multiColumnView
{
    display: inline-block;
    text-align: center;
    width: 100%;
}

leftColumn
{
    float: left;
}

rightColumn
{
    float: right;
}

smallColumn
{
    float: left;
    width: 20%;
}

largeColumn
{
    float: left;
    width: 60%;
}

/* Vertically align the columns when on a small screen. */
@media only screen and (max-width: 600px) {
    .multiColumnView {
        float: none;
        display: block;
        width: 100%;
    }

    smallColumn {
        float: none;
        display: block;
        width: 100%;
    }

    largeColumn {
        float: none;
        display: block;
        width: 100%;
    }
}

/* A box with red background text to display errors in. */
.errorSubbox {
    background-color: #ff9494;
    padding: 2px 2px 2px 2px;
}

/* Displays a mostly full-screen search box and adequately spaced search button */
.searchBox {
    margin: 5px 0px 5px 0px;
    width: 90%;
}

.searchButton {
    margin: 5px 0px 5px 0px;
}

.resultsList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.napackResult {
    background-color: #FFDCA9;
    color: #553200;
    margin: 5px 0px 5px 0px;
}

.napackResultSmall {
    float: right;
    margin: 2px 2px 2px 2px;
}

.moreNapackDetails {
    background-color: #041E37;
    color: #FDFEFF;
    margin: 0px 0px -15px 0px;
}

.moreNapackDetails a {
    color: #FFDCA9;
}

.moreNapackDetails a:hover {
    color: #FDFEFF;
}